# Binários gerados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Arquivos de build
bin/
dist/

# Variáveis de ambiente
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
